# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.venv/

# Kaggle credentials
kaggle.json
.kaggle/

# Jupyter
.ipynb_checkpoints/

# Streamlit secrets
.streamlit/secrets.toml

# Environment files
.env